/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Background and Border */
    --bg-default: #F5F4F0;
    --border-default: #D9D9D9;

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--text-secondary);

    background-color: var(--bg-default);
}

h1,
h2,
h3 {
    color: var(--text-primary);
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-headline);
}

/* Page */

#page {
    margin: 8.8rem 8rem 0;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

img {
    width: 100%;
    border-radius: 28px;
}

figcaption {
    font-style: italic;
    color: var(--text-secondary);
    text-align: center;
}

main {
    border-top: 1px solid var(--border-default);
    border-bottom: 1px solid var(--border-default);
    margin-bottom: 4rem;
}

main section:nth-child(1) {
    margin-block: 6.4rem;
}

main section article {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

main section article .articleCard img {
    height: 35vh;
}

.articleCard ul {
    margin-top: 2rem;
}

.articleCard ul li {
    margin-left: 2rem;
}

.articleCard ul li::marker {
    color: var(--accent-blue);
}

#page>section {
    text-align: center;
}

footer {
    margin: 6.5rem 0 4.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

footer p:first-child, footer p span {
    color: var(--accent-pink);
    font-weight: bold;
}