/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Background and Border */
    --bg-default: #F5F4F0;
    --border-default: #D9D9D9;

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 /* headline */{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-headline);
}

subtitle {
    font-style: italic;
}